############################
# Maven
############################
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

############################
# Application secrets
############################
application.properties
application-local.properties

############################
# Spring / STS
############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################
# IntelliJ IDEA
############################
.idea/
*.iws
*.iml
*.ipr

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# VS Code
############################
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Optional docs
############################
HELP.md


############################
# React / Node
############################
node_modules/
dist/
.env
